<div class="mx-auto w-25">
  <form action="" method="POST">
    <label for="category"></label>
    <select class="form-control" name="category" id="category">
      <option value="home">家居物業</option>
      <option value="travel">交通出行</option>
      <option value="fun">休閒娛樂</option>
      <option value="food">餐飲食品</option>
      <option value="misc">其他</option>
    </select>
  </form>
</div>

<div class="text-center mt-5 mb-3">
  <span>總金額：</span>
  <span class="display-3">0</span>
</div>

{{! 清單}}
<ul class="list-group w-75 mx-auto mb-5">
  {{#each records}}
    <li class="list-group-item mx-auto w-75 d-flex justify-content-between align-items-center bg-light">

      {{#if home}}
        <i class="fas fa-home"></i>
      {{/if}}

      {{#if travel}}
        <i class="fas fa-shuttle-van"></i>
      {{/if}}

      {{#if fun}}
        <i class="fas fa-grin-beam"></i>
      {{/if}}

      {{#if food}}
        <i class="fas fa-utensils"></i>
      {{/if}}

      {{#if misc}}
        <i class="fas fa-pen"></i>
      {{/if}}

      <span>{{this.name}}</span>
      <span>{{this.amount}}</span>
      <div class="d-flex">
        <a class="btn btn-primary" href="/records/{{{this._id}}}/edit">Edit</a>
        <form action="/records/{{{this._id}}}/delete?_method=DELETE" method="POST">
          <button class="btn btn-danger" type="submit">Delete</a>
        </form>
      </div>
    </li>
  {{/each}}

</ul>


<div class="text-center">
  <form action="/records/new" method="GET" class="mx-auto">
    <button type="submit" class="btn btn-primary">新增支出</button>
  </form>
</div>